<body>
<div class="container">
  <div align="center">
    <img src="https://www.worcester.edu/uploadedImages/Website_Assets/Images/Site_Specific/Logo-WSU.png?n=7096"/>
  </div>
  <div [hidden]="submitted">
    <h1 align="center">Food Pantry Intake Form</h1>
    <form (ngSubmit)="onSubmit()" #customerForm="ngForm" novalidate>
      <div class="form-group">
        <label for="studentId"><h3>Student ID Number</h3></label>
        <input type="text" class="form-control" id="studentId"
               required
               [(ngModel)]="model.studentId" name="studentId"
               #studentId="ngModel">
        <div [hidden]="studentId.valid || studentId.pristine"
             class="alert alert-danger">
          Student ID is required
        </div>
      </div>

      <div class="form-group">
        <label for="gender"><h3>Please select your gender (optional)</h3></label>
        <select class="form-control" id="gender"
                required
                [(ngModel)]="model.gender" name="gender"
                #currentHousingSituation="ngModel">
          <option *ngFor="let opt_h of gender" [value]="opt_h">{{opt_h}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="currentHousingSituation"><h3>What is your current housing situation?</h3></label>
        <select class="form-control" id="currentHousingSituation"
                required
                [(ngModel)]="model.currentHousingSituation" name="currentHousingSituation"
                #currentHousingSituation="ngModel">
          <option *ngFor="let opt_h of currentHousingSituations" [value]="opt_h">{{opt_h}}</option>
        </select>
        <div [hidden]="currentHousingSituation.valid || currentHousingSituation.pristine" class="alert alert-danger">
          Current housing situation is required
        </div>
      </div>

      <div class="form-group">
        <label for="zipCode"><h3>Student Zip Code</h3></label>
        <div *ngIf="currentHousingSituation.value == 'Resident/On Campus'"><h5>Zip code must be "01602" if you live on campus</h5></div>
        <input type="number" class="form-control" id="zipCode"
               required
               [(ngModel)]="model.zipCode" name="zipCode"
               #zipCode="ngModel">
        <div [hidden]="zipCode.valid || zipCode.pristine"
             class="alert alert-danger">
          Zip code is required
        </div>
      </div>

      <div class="form-group">
        <div *ngIf="currentHousingSituation.valid && currentHousingSituation.value == 'Resident/On Campus'; then thenBlockOnEntry else elseBlockOnEntry"></div>
        <ng-template #thenBlockOnEntry>
          <label for="currentHouseholdSize"><h3>Please enter the number of members of household.</h3></label>
          <div *ngIf="currentHouseholdSize.value != 1; then ResidentValueWarning"></div>
          <ng-template #ResidentValueWarning>
            <div class="alert alert-warning">
              <strong>Warning!</strong> This number must be "1" if you live on campus.
            </div>
          </ng-template>
          <input type="number" name="quantity" min="1" max="25" class="form-control" id="currentHouseholdSize" value="1"
                 required
                 [(ngModel)]="model.currentHouseholdSize" name="currentHouseholdSize"
                 #currentHouseholdSize="ngModel">
          <div [hidden]="currentHouseholdSize.valid || currentHouseholdSize.pristine"
               class="alert alert-danger">
            Household Size is required, please enter a valid number.
          </div>
        </ng-template>
        <ng-template #elseBlockOnEntry>
          <label for="currentHouseholdSize"><h3>Please enter the number of members of household</h3></label>
          <input type="number" name="quantity" min="1" max="25" class="form-control" id="currentHouseholdSize"
                 required
                 [(ngModel)]="model.currentHouseholdSize" name="currentHouseholdSize"
                 #currentHouseholdSize="ngModel">
          <div [hidden]="currentHouseholdSize.valid || currentHouseholdSize.pristine"
               class="alert alert-danger">
            Household Size is required, please enter a valid number.
          </div>
        </ng-template>
      </div>

      <div class="form-group">
        <h3>Please enter the number of household members for each age group.</h3>
        <div *ngIf="currentHousingSituation.valid && currentHousingSituation.value == 'Resident/On Campus'; then enter1 else enterAll"></div>
        <ng-template #enter1>
          <div *ngIf="(ageGroup1.value + ageGroup2.value + ageGroup3.value + ageGroup4.value) != 1; then unMatchedValue1"></div>
          <ng-template #unMatchedValue1>
            <div class="alert alert-warning">
              <strong>Warning!</strong> Please only enter "1" in your age group.
            </div>
          </ng-template>
        </ng-template>
        <ng-template #enterAll>
          <div *ngIf="(ageGroup1.value + ageGroup2.value + ageGroup3.value + ageGroup4.value) != model.currentHouseholdSize; then unMatch"></div>
          <ng-template #unMatch>
            <div class="alert alert-warning">
              <strong>Warning!</strong> The number of household members does not match with the above household members.
            </div>
          </ng-template>
        </ng-template>
        <label for="ageGroup1">Age from 0 to 4</label>
        <input type="number" name="quantity" min="0" max="25" class="form-control" id="ageGroup1"
               required
               [(ngModel)]="model.ageGroup1" name="ageGroup1"
               #ageGroup1="ngModel">
      </div>

      <div class="form-group">
        <label for="ageGroup2">Age from 5 to 17</label>
        <input type="number" name="quantity" min="0" max="25" class="form-control" id="ageGroup2"
               required
               [(ngModel)]="model.ageGroup2" name="ageGroup2"
               #ageGroup2="ngModel">
      </div>

      <div class="form-group">
        <label for="ageGroup3">Age from 18 to 64</label>
        <input type="number" name="quantity" min="0" max="25" class="form-control" id="ageGroup3"
               required
               [(ngModel)]="model.ageGroup3" name="ageGroup3"
               #ageGroup3="ngModel">
      </div>

      <div class="form-group">
        <label for="ageGroup4">Age from 65 and up</label>
        <input type="number" name="quantity" min="0" max="25" class="form-control" id="ageGroup4"
               required
               [(ngModel)]="model.ageGroup4" name="ageGroup4"
               #ageGroup4="ngModel">
      </div>

      <div class="form-group">
        <h3>Do you have any of the following supplemental services? Please select all that apply.</h3>
        <label for="FAFSA">FAFSA</label>
        <input type="checkbox" class="form-control" id="FAFSA"
               [(ngModel)]="model.FAFSA" name="FAFSA">

      </div>
      <div class="form-group">
        <label for="SNAP">SNAP</label>
        <input type="checkbox" class="form-control" id="SNAP"
               [(ngModel)]="model.SNAP" name="SNAP">
      </div>
      <div class="form-group">
        <label for="WIC">WIC</label>
        <input type="checkbox" class="form-control" id="WIC"
               [(ngModel)]="model.WIC" name="WIC">
      </div>
      <div class="form-group">
        <label for="SSI">SSI</label>
        <input type="checkbox" class="form-control" id="SSI"
               [(ngModel)]="model.SSI" name="SSI">
      </div>
      <div class="form-group">
        <label for="TAFDC">TAFDC</label>
        <input type="checkbox" class="form-control" id="TAFDC"
               [(ngModel)]="model.TAFDC" name="TAFDC">
      </div>
      <div class="form-group">
        <label for="MRC">MRC</label>
        <input type="checkbox" class="form-control" id="MRC"
               [(ngModel)]="model.MRC" name="MRC">
      </div>

      <div class="form-group">
        <label for="SNAPAssistance"><h3>Please check the following box if you would like assistance in applying for SNAP.</h3></label>
        <input type="checkbox" class="form-control" id="SNAPAssistance"
               [(ngModel)]="model.SNAPAssistance" name="SNAPAssistance">
      </div>

      <button type="submit" class="btnSubmit" [disabled]="!customerForm.form.valid">Submit</button>
    </form>
    <br>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Student ID: </div>
      <div class="col-xs-9">{{ model.studentId }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Gender: </div>
      <div class="col-xs-9">{{ model.gender }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Current Housing Situation:</div>
      <div class="col-xs-9">{{ model.currentHousingSituation }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Current Household Size:</div>
      <div class="col-xs-9">{{ model.currentHouseholdSize}}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Ages served 0-4 : </div>
      <div class="col-xs-9">{{ model.ageGroup1 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Ages served 5-17 : </div>
      <div class="col-xs-9">{{ model.ageGroup2 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Ages served 18-64 : </div>
      <div class="col-xs-9">{{ model.ageGroup3 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Ages served 65-UP : </div>
      <div class="col-xs-9">{{ model.ageGroup4 }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Annual Income Exceeds:</div>
      <div class="col-xs-9">{{ model.annualIncome }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Primary Household Income Source: </div>
      <div class="col-xs-9">{{ model.primaryIncomeSource }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">FAFSA Status: </div>
      <div class="col-xs-9">{{ model.FAFSA }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">SNAP status: </div>
      <div class="col-xs-9">{{ model.SNAP }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">WIC Status: </div>
      <div class="col-xs-9">{{ model.WIC }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">SSI Status: </div>
      <div class="col-xs-9">{{ model.SSI }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">TAFDC Status:</div>
      <div class="col-xs-9">{{ model.TAFDC }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">MRC Status:</div>
      <div class="col-xs-9">{{ model.MRC }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">SNAP Assistance Requested:</div>
      <div class="col-xs-9">{{ model.SNAPAssistance }}</div>
    </div>
    <br>
    <button class="btnEdit" (click)="submitted=false">Edit</button>
  </div>
</div>
<br>
</body>