body {
  background: #00338e;
}

h1 {
  color: White;
}

h2 {
  color: white;
}

h3 {
  color: #f1e37b;
}

h5 {
  color: #f1e37b;
}

label {
  color: #f1e37b;
}

.col-xs-3 {
  color: #f1e37b;
}

.col-xs-9 {
  color: #f1e37b;
}

.btnSubmit {
  background-color: #a47700;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btnSubmit:hover {
  background: white;
  color: #a47700;
}

.btnEdit {
  background-color: #a47700;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btnEdit:hover {
  background: white;
  color: #a47700;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
